*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #454545;
}
header{
    color: #fff;
    margin-left: 30%;
    margin-top: 20%;
}

a{
    margin-top: 50%;
    margin-left: 30%;
    background-color: orange;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}